<!--
  Generated template for the DeviceListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color='maincolor'>
    <ion-title>{{"Nhà bếp " + countItemDone + "/" + dataOfOrder.length}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-row no-padding *ngFor="let orderDetails of items" class="listOrder">
    <ion-col col-2 no-padding class="colBackground">
      <button ion-button class="buttonFullHeight" color="bgiphonedark" outline (click)="confirmAll(orderDetails)" no-padding>{{orderDetails.table}}</button>
    </ion-col>
    <ion-col col-10 no-padding>
      <ion-list no-padding class="listDetails" *ngFor="let foodDetails of orderDetails.listOrder">
        <ion-item [ngClass]="{'disableFood': foodDetails.status}">
          <ion-avatar item-start>
            <img src='{{foodDetails.food.image ? foodDetails.food.image : "assets/icon/noimage.png"}}'>
          </ion-avatar>
          <h2 class="fontTextLarge">{{foodDetails.food.name}}</h2>
          <p class="fontTextSmall" *ngIf="foodDetails.option.length == 0">Bình thường</p>
          <p class="fontTextSmall" *ngFor="let foodOption of foodDetails.option">{{foodOption}}</p>
          <button class="fontButton" ion-button clear color="maincolor" item-end (click)="confirm(orderDetails, foodDetails)">OK</button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>