page-cashier {
    .childList{
        margin-bottom: 0px;
        padding-left: 2rem;
     }
    .parentList{
        font-weight: bold   
     }
     .listFood{
        margin-bottom: 0px;
    }
    .listDetails{
        margin-bottom: 0px;        
     }
     .buttonFullHeight{
         height: 100%;
         width: 100%;
         margin: 0;
         white-space: pre-wrap;
     }
     .colBackground{
         background-color: map-get($colors, maincolor);
     }
     .disableFood{
        background-color: #dedede;
     }
     .payment{
        font-size: 1.8rem !important;
        color: crimson;
     }
     .listOrder{
        border-bottom: solid 2px lightgray;;
    }
}
