<!--
  Generated template for the DeviceListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color='maincolor'>
    <ion-title>List Order</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-row no-padding class="listOrder" *ngFor="let orderDetails of items">
    <ion-col col-2 no-padding class="colBackground">
      <button ion-button class="buttonFullHeight" color="bgiphonedark" outline no-padding>Thanh toán</button>
    </ion-col>
    <ion-col col-10 no-padding>
      <ion-list no-padding class="listDetails" *ngFor="let foodDetails of orderDetails.listOrder">
        <ion-item [ngClass]="{'disableFood': foodDetails.status}">
          <ion-avatar item-start>
            <img src='{{foodDetails.food.image ? foodDetails.food.image : "assets/icon/noimage.png"}}'>
          </ion-avatar>
          <h2>{{foodDetails.food.name}}</h2>
          <p *ngIf="foodDetails.option.length == 0">Bình thường</p>
          <p *ngFor="let foodOption of foodDetails.option">{{foodOption}}</p>
          <button ion-button clear color="maincolor" item-end (click)="confirm(foodDetails)">{{foodDetails.food.value}}</button>
        </ion-item>
      </ion-list>
      <ion-list no-padding class="listDetails">
        <ion-item>
          <button ion-button clear color="maincolor" [disabled]="orderDetails.payment" class="payment" item-end (click)="payment(orderDetails)">{{orderDetails.payment ? "Đã Thanh toán" : "Thanh toán " + orderDetails.total()}}</button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>