page-login {
    .highlightRemove .item-inner{
        box-shadow: none !important;
    }    
    .inputItemStyleF{
        background-color: transparent;
        .item-inner{
          padding: 0px!important;
        }
      }    
      .inputlabel{
        min-width: 0px;
        max-width: 10rem;
        color: white!important;
      }
      .inputTextStyle{
        border-style: solid;
        border-width: 1px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border-color: map-get($colors, bgiphonedark);
        padding: 0;
        height: 3.5rem;
        color: white;
        .text-input-ios{
          margin: 0 0 0 1rem;
          height: 100%;
        }
        .text-input-md{
          margin: 0 0 0 1rem;
          height: 100%;
        }
      }  
    .backgroundMain{
        background-color: map-get($colors, maincolor);
    }
    .backgroundMain{
        background-color: map-get($colors, maincolor);
    }
    .backgroundMainFooter{
        background-color: map-get($colors, light);
    }
    .nameLogo{
        color:  map-get($colors, light);
        font-size: 4rem;
        text-align: center;
    }
    .forgotPass{
        justify-content: flex-end;
        font-style: italic;
        text-decoration: underline;
        padding-top: 0.5rem;
    }
    .logo-row {
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
      }  
    .logo-login{
        width: 70%;
        height: auto;
    }
    .marginRow{
          padding-top: 0.5rem;
    }
    .roundButton{
        height: 4rem;
        width: 4rem;        
    }
    .fontInforIcon{
        font-size: 4rem;
    }
    .colorTextHind{
        color: map-get($colors, maincolor);
    }
    .buttonLogin{
        height: 120px;
        width: 120px;
    }
}
.custom-popover .popover-content {
    width: 90%;
    top: 5rem!important;
    left: 1rem!important;
    bottom: 9rem!important;
    border-radius: 10px;
  }
.custom-popover .popover-arrow {
    display: none;
}   
.custom-popover .popover-viewport {
    height: 100%;
  } 
.payment-popover .popover-content {
    width: 90%;
    top: 5rem!important;
    left: 1rem!important;
    border-radius: 10px;
  }
.payment-popover .popover-arrow {
    display: none;
  }  
.fontButton{
    font-size: 2rem!important;
}
.fontTextLarge{
    font-size: 1.8rem!important;
    color: black!important;
}
.fontTextSmall{
    font-size: 1.5rem!important;
    color: darkcyan!important;
}
.toolbar-title-ios { 
    font-size: 2.5rem!important;
  }

  .toolbar-title-md { 
    font-size: 2.5rem!important;
  }
  .customCSS .alert-input{
    font-size: 2.5rem;
  }
  .customCSS .alert-title{
    font-size: 2.5rem;
  }
  .searchbar-input{
      font-size: 2rem!important;
  }