<ion-content padding class="backgroundMain">
  <ion-row class="logo-row">
    <img class="logo-login" src="assets/icon/icon-login.png" />
  </ion-row>
  <ion-row class="nameLogo">
    <div>NTTTTT Order</div>
  </ion-row>
  <form (ngSubmit)="login()" #loginForm="ngForm" *ngIf="!showButton">
    <ion-item no-padding class="highlightRemove inputItemStyleF" no-lines>
      <ion-input placeholder="Tên nhân viên aaaaa" class="inputTextStyle" name="userName" [(ngModel)]="loginInfo.userName"
        required></ion-input>
    </ion-item>
    <ion-item no-padding class="highlightRemove inputItemStyleF" no-lines>
      <ion-input placeholder="Mật khẩu bbbbb" type="password" class="inputTextStyle" name="password" [(ngModel)]="loginInfo.password"
        required></ion-input>
    </ion-item>
    <ion-row class="marginRow" no-padding>
      <ion-col col-12>
        <button ion-button color="light" block outline class="fontButton">Đăng nhập ccc</button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row class="marginRow" *ngIf="showButton">
    <ion-col col-6 *ngIf="auth.userLogin.role == 'Admin'">
      <button class="fontButton" ion-button color="light" block outline (click)="goToOrder()" icon-start>
        <ion-icon ios="ios-paper-outline" md="ios-paper-outline"></ion-icon>
        Đặt món
      </button>
    </ion-col>
    <ion-col col-6 *ngIf="auth.userLogin.role == 'Admin'">
      <button class="fontButton" ion-button color="bgiphonedark" block outline (click)="goToKitchen()" icon-start>
        <ion-icon ios="ios-bonfire" md="ios-bonfire"></ion-icon>
        Nhà bếp
      </button>
    </ion-col>
    <ion-col col-12 *ngIf="auth.userLogin.role == 'Order'">
      <button class="fontButton" ion-button color="light" block outline (click)="goToOrder()" icon-start>
        <ion-icon ios="ios-paper-outline" md="ios-paper-outline"></ion-icon>
        Đặt món
      </button>
    </ion-col>
    <ion-col col-12 *ngIf="auth.userLogin.role == 'Kitchen'">
      <button class="fontButton" ion-button color="bgiphonedark" block outline (click)="goToKitchen()" icon-start>
        <ion-icon ios="ios-bonfire" md="ios-bonfire"></ion-icon>
        Nhà bếp
      </button>
    </ion-col>
  </ion-row>
  <ion-row class="marginRow" *ngIf="showButton">
    <ion-col col-6 *ngIf="auth.userLogin.role == 'Admin'">
      <button class="fontButton" ion-button color="light" block outline (click)="goToCashier()" icon-start>
        <ion-icon ios="ios-cash-outline" md="ios-cash-outline"></ion-icon>
        Tính tiền
      </button>
    </ion-col>
    <ion-col col-6 *ngIf="auth.userLogin.role == 'Admin'">
      <button class="fontButton" ion-button color="bgiphonedark" block outline (click)="goToSetting()" icon-start>
        <ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>
        Cấu hình
      </button>
    </ion-col>
    <ion-col col-12 *ngIf="auth.userLogin.role == 'Cashier'">
      <button class="fontButton" ion-button color="light" block outline (click)="goToCashier()" icon-start>
        <ion-icon ios="ios-cash-outline" md="ios-cash-outline"></ion-icon>
        Tính tiền
      </button>
    </ion-col>
    <ion-col col-12 *ngIf="auth.userLogin.role == 'Admin'">
      <button class="fontButton" ion-button color="bgiphonedark" block outline (click)="summary()" icon-start>
        <ion-icon ios="ios-stats-outline" md="ios-stats-outline"></ion-icon>
        Tổng kết
      </button>
    </ion-col>
  </ion-row>

</ion-content>
