page-order-details {
    .headerRow{
        background-color: map-get($colors, maincolor);
    }
    .buttonHeader .button-inner{
        justify-content:flex-start;
    }
    .scroll .scroll-content{
        height: 100%;
    }
}
